doctype html
html(lang="en")
  head
    title Document
    link(rel="stylesheet",href="styles.css")
  body
    div(class="le-pictures")
      img(class="verykewl" src="assets/verykewl.jpeg")
      img(class="weops" src="assets/weops.jpeg")

    p.scroll
      | This Is Me, Scroll Down For Some Hot Takes

    p(class="cemoi") Fries With Mayonnaise Are Far Superior Than Fries With Ketchup
    p(class="cemoi") Cold Weather Is Better Than Warm Weather
    p(class="cemoi") Skin Colored Emojis Are Unnecessary
    p.cemoi
      | The Show 
      a(href="https://www.google.com/search?q=friends+show&rlz=1C1ONGR_noNO989NO989&oq=friends+show&aqs=chrome..69i57j46i512j0i512l8.2733j0j7&sourceid=chrome&ie=UTF-8" target="_blank") Friends
      |  Is So Painstakingly Unfunny That I Developed Three Brain Tumors From Just Watching The Bloopers

    p(class="cemoi") Times New Roman Font Sucks
    p(class="cemoi") Dr Pepper Is Overrated
    p(class="cemoi") Daft Punk Is The Most Iconic Music Duo From The Last Two Decades (Or Probably Even Ever)
    p(class="cemoi") Autumn/Fall Is Underrated
    p(class="cemoi") PS4 &#62; XBOX
    p(class="cemoi") Fanta Is Top 4 Soda
    p(class="cemoi") TypeScript Is Kind Of Maybe Possibly An OK BackEnd Language
    p(class="cemoi") Tom And Jerry is better than Donald Duck and Mickey Mouse (It's Close)
    p(class="cemoi") Being "Good" At Geography Should Be Normalized
    